body.blog {
    section#posts {
        padding: 100px 0;

        .header {
            text-align: center;
            padding: 0 0 50px 0;

            h2 {
                font-family: $rajdhani;
                font-size: 2em;
                color: $orange;
                text-transform: uppercase;
                display: inline-block;
                padding: 10px 0;
                border-top: 1px dashed;
                border-bottom: 1px dashed;
                max-width: 800px;
                margin: 0 auto;

                @include tablet-portrait {
                    font-size: 4em;
                }
            }
        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        article {
            width: 100%;
            margin: 0 0 50px 0;

            @include tablet-portrait {
                width: 47.5%;
            }

            .info {
                background: $white;
                box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
                padding: 40px;
                width: 100%;
                transform: translate(20px, -40px);

                h4 {
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-size: 0.75em;
                    padding: 0 0 5px 0;
                }

                h3 {
                    padding: 0 0 20px 0;
                    font-size: 2em;
                    font-family: $rajdhani;

                    a {
                        color: $orange;
                    }
                }

                p {
                    font-family: $baskerville;
                    font-size: 0.875em;
                    line-height: 1.375em;
                }

                a.read-more {
                    margin-top: 20px;
                    display: inline-block;
                    color: $orange;
                    font-family: $rajdhani;
                    text-decoration: underline;
                    font-size: 1.25em;
                }
            }
        }
    }
}
