body.template-page-donate {
    .copy {
        padding: 100px 0 0 0;

        p {
            font-size: 0.875em;
            line-height: 1.5em;
            font-family: $baskerville;

            & + p {
                padding: 25px 0 0 0;
            }

            @include tablet-portrait {
                font-size: 1.125em;
                line-height: 1.75em;
            }
        }
    }

    .donate-btns-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .donate-btn {
            width: 100%;
            text-align: center;
            padding: 0 0 50px 0;

            @include mobile-landscape {
                width: calc(33.3333% - 15px);
                padding: 0;
            }

            h3 {
                padding: 0 0 20px 0;
            }

            .description {
                padding: 15px 0 0 0;

                p {
                    font-size: 0.875em;
                    line-height: 1.5em;
                    max-width: 300px;
                    margin: 0 auto;
                }
            }
        }
    }
}
