body.template-page-events {
    section#then-now {
        background: #f5f5f5;

        .then-now-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > div {
                width: 100%;
                text-align: center;

                @include tablet-portrait {
                    width: 48.5%;
                }

                h3 {
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    color: $dark-green;
                    padding: 0 0 20px 0;
                }

                img {
                    margin: 0 auto;
                }
            }
        }
    }

    #details {
        text-align: center;

        .wrapper {
            max-width: 640px;
        }

        h2 {
            color: $dark-green;
            padding: 0 0 50px 0;
            font-size: 2em;
        }

        p {
            line-height: 1.5em;
            padding: 0 0 40px 0;

            strong {
                display: block;
            }
        }

        ul {
            li {
                &:before {
                    content: '· ';
                    font-weight: bold;
                }

                & + li {
                    padding-top: 20px;
                }
            }
        }

        h4 {
            text-transform: uppercase;
            color: $dark-gray;
            padding: 0 0 20px 0;
        }
    }
}
