footer {
    padding: 25px 0;
    background: $slate;
    color: $white;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    p {
        font-size: 0.75em;
        line-height: 1.25em;
        color: $white;
    }

    .copyright {
        width: 100%;

        @include tablet-portrait {
            width: 70%;
        }
    }

    .site-credits {
        width: 100%;

        @include tablet-portrait {
            text-align: right;
            width: 30%;
        }

        a {
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px dotted;

            &:hover {
                color: $white;
            }
        }
    }
}
