header {
    padding: 25px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .logo {
        width: 50%;

        a {
            display: block;
            max-width: 150px;
        }

        @include tablet-landscape {
            width: 25%;

            a {
                max-width: 100%;
            }
        }
    }

    nav {
        width: 50%;

        @include tablet-landscape {
            width: 75%;
        }
    }

    .ctas {
        display: none;

        @include tablet-portrait {
            padding: 0 0 25px 0;
            display: flex;
            justify-content: flex-end;

            a {
                margin: 0 0 0 25px;
            }
        }
    }

    #toggle {
        width: 40px;
        cursor: pointer;
        transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
        display: block;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 30px;
        padding: 12px 0;

        @include tablet-portrait {
            margin-top: 0px;
        }

        @include tablet-landscape {
            display: none;
        }

        .patty {
            width: 40px;
            height: 5px;
            background: $light-green;
            transition: all 0.3s;

            &:after,
            &:before {
                content: '';
                display: block;
                width: 40px;
                height: 5px;
                background: $light-green;
                position: absolute;
                z-index: -1;
                transition: all 0.3s;
            }
            &:before {
                top: -10px;
            }
            &:after {
                top: 10px;
            }
        }
    }

    &.open {
        #toggle .patty {
            background: none;

            &:after {
                top: 0;
                transform: rotate(45deg);
            }
            &:before {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

section.nav-links {
    &.mobile {
        display: none;
        padding: 0 0 50px 0;

        @include tablet-landscape {
            display: none !important;
        }

        .ctas {
            padding: 10px 0;

            @include tablet-portrait {
                display: none !important;
            }

            .link {
                padding: 10px 0;
                text-align: center;
            }
        }
    }

    &.desktop {
        display: none;

        @include tablet-landscape {
            display: block !important;
        }
    }

    .nav-links-wrapper {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        @include tablet-landscape {
            padding: 25px 0;
        }

        a {
            font-family: $open-sans;
            color: $dark-gray;
            font-weight: bold;
            text-align: center;
            padding: 20px;
            width: 100%;
            display: block;

            @include tablet-landscape {
                width: auto;
                padding: 0 25px;
            }

            @include desktop {
                padding: 0 50px;
            }

            &:hover {
                color: $light-green;
            }
        }
    }
}
