section.two-col {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .info,
    .image {
        width: 100%;
    }

    .image-wrapper {
        position: relative;
        z-index: 1000;

        &:before,
        &:after {
            z-index: -1;
            position: absolute;
            content: '';
            bottom: 15px;
            left: 10px;
            width: 50%;
            top: 80%;
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
            transform: rotate(-3deg);
        }
        &:after {
            transform: rotate(3deg);
            right: 10px;
            left: auto;
        }
    }

    @include tablet-portrait {
        .info {
            width: 40%;
        }

        .image {
            width: 55%;
            img {
                width: 100%;
            }
        }
    }

    .info {
        h3 {
            color: $dark-green;
            font-weight: 900;
            font-size: 1.75em;
            line-height: 1.125em;
            padding: 0 0 20px 0;

            @include tablet-portrait {
                font-size: 2.5em;
            }
        }

        a {
            color: $dark-green;

            &:hover {
                text-decoration: underline;
            }
        }

        a.btn {
            &:hover {
                text-decoration: none;
                color: $white;
            }
        }

        p {
            font-size: 0.875em;
            line-height: 1.5em;
            font-family: $baskerville;

            & + p {
                padding: 25px 0 0 0;
            }

            @include tablet-portrait {
                font-size: 1.125em;
                line-height: 1.75em;
            }
        }

        ul {
            font-size: 1em;
            line-height: 1.5em;
            font-family: $baskerville;
            padding: 25px 0 0 0;

            & + p {
                padding: 25px 0 0 0;
            }

            li {
                list-style-type: disc;
                max-width: 80%;
                margin: 0 0 0 40px;

                & + li {
                    padding: 20px 0 0 0;
                }
            }
        }
    }

    &.left-image,
    &.left-multiple-images {
        .image {
            padding: 0 0 25px 0;

            @include tablet-portrait {
                padding: 0;
            }
        }
    }

    &.right-image {
        .info {
            padding: 0 0 25px 0;

            @include tablet-portrait {
                padding: 0;
            }
        }
    }

    .gallery {
        .image-wrapper + .image-wrapper {
            margin: 25px 0 0 0;
        }
    }
}

section.donate {
    background: $dark-gray;

    .info {
        text-align: center;
        color: $white;

        h3 {
            font-weight: 900;
            font-size: 1.75em;
            line-height: 1.125em;
            padding: 0 0 15px 0;

            @include tablet-portrait {
                font-size: 2.5em;
            }
        }

        p {
            font-size: 0.875em;
            line-height: 1.5em;
            font-family: $baskerville;

            & + p {
                padding: 15px 0 0 0;
            }

            @include tablet-portrait {
                font-size: 1.125em;
                line-height: 1.75em;
            }
        }

        a {
            color: $white;
            text-decoration: underline;
        }

        .donate-btn {
            padding: 50px 0 0 0;

            a.btn {
                background: transparent;
                color: $white;
                border-color: $white;
                text-decoration: none;

                &:hover {
                    background: $white;
                    color: $dark-gray;
                }
            }
        }
    }
}

section.get-involved {
    .info {
        text-align: center;

        h3 {
            font-weight: 900;
            font-size: 1.75em;
            line-height: 1.125em;
            padding: 0 0 15px 0;

            @include tablet-portrait {
                font-size: 2.5em;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            max-width: 800px;
            margin: 0 auto;
            justify-content: center;

            li {
                font-size: 0.875em;
                line-height: 1.5em;
                margin: 10px;
                padding: 12px 20px;
                border: 1px solid $slate;
            }
        }

        a {
            color: $dark-green;
        }
    }
}

section.headline {
    padding: 50px 0 0 0;

    &:first-of-type {
        padding-top: 100px;
    }

    .info {
        text-align: center;

        h2 {
            font-family: $rajdhani;
            font-size: 2em;
            color: $light-green;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 0;
            border-top: 1px dashed;
            border-bottom: 1px dashed;
            max-width: 800px;
            margin: 0 auto;

            @include tablet-portrait {
                font-size: 4em;
            }
        }
    }
}

section.headline + section.two-col {
    padding-top: 50px;
    background: $white;
}

section.quote {
    padding: 50px 0;
    background: $dark-green;
    color: $white;

    .info {
        text-align: center;

        h3 {
            font-size: 1.5em;
            color: $white;
            padding: 0 0 10px 0;
            border-bottom: 4px solid;
            display: inline-block;
            margin: 0 0 20px 0;

            @include tablet-portrait {
                font-size: 2.25em;
            }
        }

        p {
            font-size: 1.25em;
            line-height: 1.5em;
            max-width: 960px;
            margin: 0 auto;
        }
    }
}

section#about-the-ultimate-foundation + section.get-involved {
    padding: 0 0 50px 0;

    img {
        margin: 0 auto;
    }
}

@import 'templates/landing-page/staff';
