body.single-post {

	article {
		padding: 50px 0 50px 0;

		.wrapper {
			max-width: 720px;
		}

		.article-header {
			padding: 0 0 50px 0;
			text-align: center;

			.photo {
				padding: 0 0 25px 0;
			}

			.info {
				h4 {
					font-weight: 100;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.75em;
					padding: 0 0 5px 0;
				}

				h1 {
					font-size: 3em;
					line-height: 1.25em;
					font-family: $rajdhani;
					color: $orange;
				}				
			}

		}

		.article-body {
			font-family: $baskerville;

			img {
				margin: 0 auto 50px auto;
			}

			h1, h2 {
				font-size: 2em;
				padding: 0 0 10px 0;
			}

			h3 {
				font-size: 1.5em;
				padding: 0 0 10px 0;
			}

			h4 {
				font-size: 1.25em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 10px 0;
			}

			h5, h6 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				padding: 0 0 10px 0;
			}

			a {
				color: $orange;

				&:hover {
					text-decoration: underline;
				}
			}

			p, li {
				font-size: 1.125em;
				line-height: 1.75em;
			}

			p, ul, ol {
				margin-bottom: 50px;
			}

			ul {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;
			}

			ul, ol {
				li {
					margin-left: 50px;

					& + li {
						padding-top: 10px;
					}
				}
			}

		}

	}

}