@charset "UTF-8";
/*

    Theme Name: The Ultimate Foundaiton
    Theme URI: http://ultimatefoundation.usaultimate.org/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of The Ultimate Foundaiton
    Version: 1.0

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
/* Media Queries
----------------------------------*/
/* HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div,
article,
section,
header,
footer,
nav,
figure,
li {
  position: relative;
}

/* Selection  */
::-moz-selection {
  background: #94d60a;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #94d60a;
  color: #fff;
  text-shadow: none;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

html, input, textarea {
  -webkit-font-smoothing: antialiased;
}

body {
  text-rendering: optimizeLegibility;
}

body, input, textarea {
  color: #2a2a2a;
  font: 400 100%/1 "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

a {
  color: #002a5c;
  transition: all 0.2s ease-in-out;
}

.btn {
  background: #fff;
  color: #4a9f00;
  border: 1px solid #4a9f00;
  border-radius: 3px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1em;
  display: inline-block;
  padding: 12px 20px 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background: #94d60a;
  border: 1px solid #94d60a;
  color: #fff;
}

body {
  background: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1260px) {
  .wrapper {
    padding: 0;
  }
}

body.error404 #main article {
  min-height: 600px;
}

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  section#hero {
    margin-top: -50px;
    z-index: -1;
  }
}

.hero-image {
  height: 240px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 640px) {
  .hero-image {
    height: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-image {
    height: 440px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image {
    height: 520px;
  }
}
.hero-image .wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.hero-image .info {
  padding: 0 0 25px 0;
}
@media screen and (min-width: 640px) {
  .hero-image .info {
    padding: 0 0 50px 0;
  }
}
.hero-image h1 {
  color: #fff;
  font-size: 1.75em;
  max-width: 1000px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .hero-image h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .hero-image h1 {
    font-size: 3.5em;
  }
}

section#main > section {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  section#main > section {
    padding: 100px 0;
  }
}
section#main > section.two-col:nth-child(odd) {
  background: #f5f5f5;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  z-index: 100;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.4;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 20px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 20px;
}
@media screen and (min-width: 1280px) {
  .slick-prev {
    left: 40px;
  }
  [dir=rtl] .slick-prev {
    left: auto;
    right: 40px;
  }
}
.slick-prev:before {
  background: url(images/left-arrow.png) no-repeat 0 0;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

.slick-next {
  right: 20px;
}
[dir=rtl] .slick-next {
  left: 20px;
  right: auto;
}
@media screen and (min-width: 1280px) {
  .slick-next {
    right: 40px;
  }
  [dir=rtl] .slick-next {
    left: 40px;
    right: auto;
  }
}
.slick-next:before {
  background: url(images/right-arrow.png) no-repeat 0 0;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .slick-dots {
    bottom: 15px;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  width: 12px;
  height: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.85;
}

header {
  padding: 25px 0;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
header .logo {
  width: 50%;
}
header .logo a {
  display: block;
  max-width: 150px;
}
@media screen and (min-width: 1024px) {
  header .logo {
    width: 25%;
  }
  header .logo a {
    max-width: 100%;
  }
}
header nav {
  width: 50%;
}
@media screen and (min-width: 1024px) {
  header nav {
    width: 75%;
  }
}
header .ctas {
  display: none;
}
@media screen and (min-width: 768px) {
  header .ctas {
    padding: 0 0 25px 0;
    display: flex;
    justify-content: flex-end;
  }
  header .ctas a {
    margin: 0 0 0 25px;
  }
}
header #toggle {
  width: 40px;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 30px;
  padding: 12px 0;
}
@media screen and (min-width: 768px) {
  header #toggle {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1024px) {
  header #toggle {
    display: none;
  }
}
header #toggle .patty {
  width: 40px;
  height: 5px;
  background: #94d60a;
  transition: all 0.3s;
}
header #toggle .patty:after, header #toggle .patty:before {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #94d60a;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
header #toggle .patty:before {
  top: -10px;
}
header #toggle .patty:after {
  top: 10px;
}
header.open #toggle .patty {
  background: none;
}
header.open #toggle .patty:after {
  top: 0;
  transform: rotate(45deg);
}
header.open #toggle .patty:before {
  top: 0;
  transform: rotate(-45deg);
}

section.nav-links.mobile {
  display: none;
  padding: 0 0 50px 0;
}
@media screen and (min-width: 1024px) {
  section.nav-links.mobile {
    display: none !important;
  }
}
section.nav-links.mobile .ctas {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  section.nav-links.mobile .ctas {
    display: none !important;
  }
}
section.nav-links.mobile .ctas .link {
  padding: 10px 0;
  text-align: center;
}
section.nav-links.desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  section.nav-links.desktop {
    display: block !important;
  }
}
section.nav-links .nav-links-wrapper {
  border-top: 1px solid #c2c6ca;
  border-bottom: 1px solid #c2c6ca;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
@media screen and (min-width: 1024px) {
  section.nav-links .nav-links-wrapper {
    padding: 25px 0;
  }
}
section.nav-links .nav-links-wrapper a {
  font-family: "Open Sans Condensed", sans-serif;
  color: #5a6771;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  width: 100%;
  display: block;
}
@media screen and (min-width: 1024px) {
  section.nav-links .nav-links-wrapper a {
    width: auto;
    padding: 0 25px;
  }
}
@media screen and (min-width: 1280px) {
  section.nav-links .nav-links-wrapper a {
    padding: 0 50px;
  }
}
section.nav-links .nav-links-wrapper a:hover {
  color: #94d60a;
}

footer {
  padding: 25px 0;
  background: #2a2a2a;
  color: #fff;
}
footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer p {
  font-size: 0.75em;
  line-height: 1.25em;
  color: #fff;
}
footer .copyright {
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer .copyright {
    width: 70%;
  }
}
footer .site-credits {
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer .site-credits {
    text-align: right;
    width: 30%;
  }
}
footer .site-credits a {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px dotted;
}
footer .site-credits a:hover {
  color: #fff;
}

section.two-col .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
section.two-col .info,
section.two-col .image {
  width: 100%;
}
section.two-col .image-wrapper {
  position: relative;
  z-index: 1000;
}
section.two-col .image-wrapper:before, section.two-col .image-wrapper:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  transform: rotate(-3deg);
}
section.two-col .image-wrapper:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
@media screen and (min-width: 768px) {
  section.two-col .info {
    width: 40%;
  }
  section.two-col .image {
    width: 55%;
  }
  section.two-col .image img {
    width: 100%;
  }
}
section.two-col .info h3 {
  color: #4a9f00;
  font-weight: 900;
  font-size: 1.75em;
  line-height: 1.125em;
  padding: 0 0 20px 0;
}
@media screen and (min-width: 768px) {
  section.two-col .info h3 {
    font-size: 2.5em;
  }
}
section.two-col .info a {
  color: #4a9f00;
}
section.two-col .info a:hover {
  text-decoration: underline;
}
section.two-col .info a.btn:hover {
  text-decoration: none;
  color: #fff;
}
section.two-col .info p {
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: "Libre Baskerville", serif;
}
section.two-col .info p + p {
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  section.two-col .info p {
    font-size: 1.125em;
    line-height: 1.75em;
  }
}
section.two-col .info ul {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Libre Baskerville", serif;
  padding: 25px 0 0 0;
}
section.two-col .info ul + p {
  padding: 25px 0 0 0;
}
section.two-col .info ul li {
  list-style-type: disc;
  max-width: 80%;
  margin: 0 0 0 40px;
}
section.two-col .info ul li + li {
  padding: 20px 0 0 0;
}
section.two-col.left-image .image, section.two-col.left-multiple-images .image {
  padding: 0 0 25px 0;
}
@media screen and (min-width: 768px) {
  section.two-col.left-image .image, section.two-col.left-multiple-images .image {
    padding: 0;
  }
}
section.two-col.right-image .info {
  padding: 0 0 25px 0;
}
@media screen and (min-width: 768px) {
  section.two-col.right-image .info {
    padding: 0;
  }
}
section.two-col .gallery .image-wrapper + .image-wrapper {
  margin: 25px 0 0 0;
}

section.donate {
  background: #5a6771;
}
section.donate .info {
  text-align: center;
  color: #fff;
}
section.donate .info h3 {
  font-weight: 900;
  font-size: 1.75em;
  line-height: 1.125em;
  padding: 0 0 15px 0;
}
@media screen and (min-width: 768px) {
  section.donate .info h3 {
    font-size: 2.5em;
  }
}
section.donate .info p {
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: "Libre Baskerville", serif;
}
section.donate .info p + p {
  padding: 15px 0 0 0;
}
@media screen and (min-width: 768px) {
  section.donate .info p {
    font-size: 1.125em;
    line-height: 1.75em;
  }
}
section.donate .info a {
  color: #fff;
  text-decoration: underline;
}
section.donate .info .donate-btn {
  padding: 50px 0 0 0;
}
section.donate .info .donate-btn a.btn {
  background: transparent;
  color: #fff;
  border-color: #fff;
  text-decoration: none;
}
section.donate .info .donate-btn a.btn:hover {
  background: #fff;
  color: #5a6771;
}

section.get-involved .info {
  text-align: center;
}
section.get-involved .info h3 {
  font-weight: 900;
  font-size: 1.75em;
  line-height: 1.125em;
  padding: 0 0 15px 0;
}
@media screen and (min-width: 768px) {
  section.get-involved .info h3 {
    font-size: 2.5em;
  }
}
section.get-involved .info ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}
section.get-involved .info ul li {
  font-size: 0.875em;
  line-height: 1.5em;
  margin: 10px;
  padding: 12px 20px;
  border: 1px solid #2a2a2a;
}
section.get-involved .info a {
  color: #4a9f00;
}

section.headline {
  padding: 50px 0 0 0;
}
section.headline:first-of-type {
  padding-top: 100px;
}
section.headline .info {
  text-align: center;
}
section.headline .info h2 {
  font-family: "Rajdhani", sans-serif;
  font-size: 2em;
  color: #94d60a;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 0;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  section.headline .info h2 {
    font-size: 4em;
  }
}

section.headline + section.two-col {
  padding-top: 50px;
  background: #fff;
}

section.quote {
  padding: 50px 0;
  background: #4a9f00;
  color: #fff;
}
section.quote .info {
  text-align: center;
}
section.quote .info h3 {
  font-size: 1.5em;
  color: #fff;
  padding: 0 0 10px 0;
  border-bottom: 4px solid;
  display: inline-block;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 768px) {
  section.quote .info h3 {
    font-size: 2.25em;
  }
}
section.quote .info p {
  font-size: 1.25em;
  line-height: 1.5em;
  max-width: 960px;
  margin: 0 auto;
}

section#about-the-ultimate-foundation + section.get-involved {
  padding: 0 0 50px 0;
}
section#about-the-ultimate-foundation + section.get-involved img {
  margin: 0 auto;
}

.staff__headline {
  text-align: center;
  padding-bottom: 2rem;
}
.staff__headline h2 {
  color: #ffa409;
}
.staff__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 4rem 2rem;
}
.staff__photo {
  aspect-ratio: 3/4;
}
.staff__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.staff__info {
  padding-top: 1rem;
  font-size: 0.875rem;
}
.staff__info > * + * {
  padding-top: 0.5rem;
}
.staff__name {
  font-size: 1.25rem;
}
.staff__title {
  line-height: 1.25em;
  color: #ffa409;
}
.staff__email a {
  color: #3baf29;
  font-weight: bold;
}
.staff__email a:hover {
  text-decoration: underline;
}

body.template-page-events section#then-now {
  background: #f5f5f5;
}
body.template-page-events section#then-now .then-now-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.template-page-events section#then-now .then-now-wrapper > div {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.template-page-events section#then-now .then-now-wrapper > div {
    width: 48.5%;
  }
}
body.template-page-events section#then-now .then-now-wrapper > div h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #4a9f00;
  padding: 0 0 20px 0;
}
body.template-page-events section#then-now .then-now-wrapper > div img {
  margin: 0 auto;
}
body.template-page-events #details {
  text-align: center;
}
body.template-page-events #details .wrapper {
  max-width: 640px;
}
body.template-page-events #details h2 {
  color: #4a9f00;
  padding: 0 0 50px 0;
  font-size: 2em;
}
body.template-page-events #details p {
  line-height: 1.5em;
  padding: 0 0 40px 0;
}
body.template-page-events #details p strong {
  display: block;
}
body.template-page-events #details ul li:before {
  content: "· ";
  font-weight: bold;
}
body.template-page-events #details ul li + li {
  padding-top: 20px;
}
body.template-page-events #details h4 {
  text-transform: uppercase;
  color: #5a6771;
  padding: 0 0 20px 0;
}

body.template-page-donate .copy {
  padding: 100px 0 0 0;
}
body.template-page-donate .copy p {
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: "Libre Baskerville", serif;
}
body.template-page-donate .copy p + p {
  padding: 25px 0 0 0;
}
@media screen and (min-width: 768px) {
  body.template-page-donate .copy p {
    font-size: 1.125em;
    line-height: 1.75em;
  }
}
body.template-page-donate .donate-btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body.template-page-donate .donate-btns-wrapper .donate-btn {
  width: 100%;
  text-align: center;
  padding: 0 0 50px 0;
}
@media screen and (min-width: 640px) {
  body.template-page-donate .donate-btns-wrapper .donate-btn {
    width: calc(33.3333% - 15px);
    padding: 0;
  }
}
body.template-page-donate .donate-btns-wrapper .donate-btn h3 {
  padding: 0 0 20px 0;
}
body.template-page-donate .donate-btns-wrapper .donate-btn .description {
  padding: 15px 0 0 0;
}
body.template-page-donate .donate-btns-wrapper .donate-btn .description p {
  font-size: 0.875em;
  line-height: 1.5em;
  max-width: 300px;
  margin: 0 auto;
}

body.blog section#posts {
  padding: 100px 0;
}
body.blog section#posts .header {
  text-align: center;
  padding: 0 0 50px 0;
}
body.blog section#posts .header h2 {
  font-family: "Rajdhani", sans-serif;
  font-size: 2em;
  color: #ffa409;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 0;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.blog section#posts .header h2 {
    font-size: 4em;
  }
}
body.blog section#posts .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.blog section#posts article {
  width: 100%;
  margin: 0 0 50px 0;
}
@media screen and (min-width: 768px) {
  body.blog section#posts article {
    width: 47.5%;
  }
}
body.blog section#posts article .info {
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  transform: translate(20px, -40px);
}
body.blog section#posts article .info h4 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75em;
  padding: 0 0 5px 0;
}
body.blog section#posts article .info h3 {
  padding: 0 0 20px 0;
  font-size: 2em;
  font-family: "Rajdhani", sans-serif;
}
body.blog section#posts article .info h3 a {
  color: #ffa409;
}
body.blog section#posts article .info p {
  font-family: "Libre Baskerville", serif;
  font-size: 0.875em;
  line-height: 1.375em;
}
body.blog section#posts article .info a.read-more {
  margin-top: 20px;
  display: inline-block;
  color: #ffa409;
  font-family: "Rajdhani", sans-serif;
  text-decoration: underline;
  font-size: 1.25em;
}

body.single-post article {
  padding: 50px 0 50px 0;
}
body.single-post article .wrapper {
  max-width: 720px;
}
body.single-post article .article-header {
  padding: 0 0 50px 0;
  text-align: center;
}
body.single-post article .article-header .photo {
  padding: 0 0 25px 0;
}
body.single-post article .article-header .info h4 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75em;
  padding: 0 0 5px 0;
}
body.single-post article .article-header .info h1 {
  font-size: 3em;
  line-height: 1.25em;
  font-family: "Rajdhani", sans-serif;
  color: #ffa409;
}
body.single-post article .article-body {
  font-family: "Libre Baskerville", serif;
}
body.single-post article .article-body img {
  margin: 0 auto 50px auto;
}
body.single-post article .article-body h1, body.single-post article .article-body h2 {
  font-size: 2em;
  padding: 0 0 10px 0;
}
body.single-post article .article-body h3 {
  font-size: 1.5em;
  padding: 0 0 10px 0;
}
body.single-post article .article-body h4 {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 10px 0;
}
body.single-post article .article-body h5, body.single-post article .article-body h6 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875em;
  padding: 0 0 10px 0;
}
body.single-post article .article-body a {
  color: #ffa409;
}
body.single-post article .article-body a:hover {
  text-decoration: underline;
}
body.single-post article .article-body p, body.single-post article .article-body li {
  font-size: 1.125em;
  line-height: 1.75em;
}
body.single-post article .article-body p, body.single-post article .article-body ul, body.single-post article .article-body ol {
  margin-bottom: 50px;
}
body.single-post article .article-body ul {
  list-style-type: disc;
}
body.single-post article .article-body ol {
  list-style-type: decimal;
}
body.single-post article .article-body ul li, body.single-post article .article-body ol li {
  margin-left: 50px;
}
body.single-post article .article-body ul li + li, body.single-post article .article-body ol li + li {
  padding-top: 10px;
}