.staff {
    &__headline {
        text-align: center;
        padding-bottom: 2rem;

        h2 {
            color: $orange;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 4rem 2rem;
    }

    &__photo {
        aspect-ratio: 3 / 4;
        @include cover-fill-image;
    }

    &__info {
        padding-top: 1rem;
        font-size: 0.875rem;

        & > * + * {
            padding-top: 0.5rem;
        }
    }

    &__name {
        font-size: 1.25rem;
    }

    &__title {
        line-height: 1.25em;
        color: $orange;
    }

    &__email {
        a {
            color: $green;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
