body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}

body.error404 {
	#main {
		article {
			min-height: 600px;
		}
	}
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section#hero {

	@include tablet-landscape {
		margin-top: -50px;
		z-index: -1;
	}

}

.hero-image {
	height: 240px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

    @include mobile-landscape {
		height: 360px;
    }

	@include tablet-landscape {
		height: 440px;
	}

	@include desktop {
		height: 520px;
	}

	.wrapper {
		display: flex;
		align-items: flex-end;
		height: 100%;
	}

	.info {
		padding: 0 0 25px 0;

	    @include mobile-landscape {
			padding: 0 0 50px 0;
	    }
	}

	h1 {
		color: $white;
		font-size: 1.75em;
		max-width: 1000px;
		font-family: $rajdhani;
		font-weight: 700;

	    @include mobile-landscape {
			font-size: 2.5em;
	    }

		@include tablet-landscape {
			font-size: 3.5em;
		}
	}

}

section#main {

	& > section {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}


	}

	& > section.two-col {
		&:nth-child(odd) {
			background: #f5f5f5;
		}
	}

}