html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $montserrat;
	font-weight: 900;
}

a {
	color: $blue;
	transition: all 0.2s ease-in-out;
}

.btn {
	background: $white;
	color: $dark-green;
	border: 1px solid $dark-green;
	border-radius: 3px;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 0.75em;
	line-height: 1em;
	display: inline-block;
	padding: 12px 20px 10px;
	text-align: center;
	font-family: $montserrat;

	&:hover {
		background: $light-green;
		border: 1px solid $light-green;
		color: $white;
	}
}

