/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2a2a2a;
$red: #b20838;
$blue: #002a5c;

$orange: #ffa409;
$green: #3baf29;

$light-green: #94d60a;
$dark-green: #4a9f00;
$light-gray: #c2c6ca;
$dark-gray: #5a6771;

/* Typography
----------------------------------*/
$baskerville: 'Libre Baskerville', serif;
$open-sans: 'Open Sans Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$rajdhani: 'Rajdhani', sans-serif;
